.card_product_order{
    margin: 10px 0 10px 10px;
    width: 100%;
    padding: 1em;
    background-color: rgb(37, 37, 37);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.tag_img{
}
.img_order{
    width: 95%;
}
.name_product{
    font-size: 1em;
    color: white;
}
.description{
    font-size: 0.9em;
    color: #8b8e91;
}

.price_product{
    font-size: 0.9em;
    color: rgb(230, 107, 107);
    text-align: end;
}

