.tag_option_product{
    display: flex;
    justify-content: center;
    background-color: #7f8fa6;
    margin: 1em 2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.option_product{

    font-size: 1.2em;
    font-weight: 700;
    flex:1;
    text-align: center;
    padding: 0.5em 0;
    cursor: pointer;
    &:hover{
        color: white;
        background-color: #273c75;
    }
}
.active_product{
    color: white;
    background-color: #192a56;
}

.container{
    margin: 1em 2em;
}
.tag_option_container{
    background-color: #d3d8d8;
    padding: 0.5em 2em;
    text-align: end;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.total_option{
    font-size: 1.2em;
    
}
.btn_option{
    margin-left: 2em;
    padding: 0.5em 2em;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #ee1a1a;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
.table_product{
    margin-top: 2em;
    width: 100%;
   
    text-align: center;
}

.img_product{
    width: 100%;
}
.table_stt{
    width: 5%;
}
.table_img{
    width: 15%;
}
.table_name{
    width: 20%;
}
.table_detail{
    width: 45%;
    text-align: left;
    padding-left: 2em;
}
.table_option{
    width: 25%;
}
.btn_product{
    margin: 0 0.2em;
    padding: 0.3em 1em ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: none;
    border-radius: 5px;
}
.btn_fix{
    background-color: #70fa3a;
}
.btn_remove{
    background-color: #f16868;

}
.tag_container_add_product{
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 2em;
    height: 100vh;
    width:  100vw;
    background-color: #8083833f;
}
.tag_add_product{
    padding-top: 1em;
    margin: auto;
    background-color: #ffffff;
    height: 35em;
    width: 50em;
    border-radius: 5px;
}
.btn_hidden_add_product{
    background: none;
    border: none;
    color: red;
    font-size: 1em;
    font-weight: 900;
    position: fixed;
    z-index: 1;
    top: 3em;
    right: 19em;
}
.hidden_add_product{
    display: none;
}
.show_add_product{
    display: block;
}
.row_add_product{
    margin-top: 0.8em;
}
.txt_add_title{
    font-size: 1.5em;
    font-weight: 800;
}
.container_add_product{
    height: 80%;
    overflow-y: auto;
    text-align: left;
}
.lbl_add_product{
    width: 35%;
}

.input_add_product{
    border: 1px #cecaca solid;
    width: 60%;
    border-radius: 10px;
    outline: none;
    padding-left: 5px;
    height: 2em;
    display: inline-block;
}
.input_add_color_product{
    width: 30%;
}
.btn_add_color{
    border: none;
    background: none;

}
.tag_list_img{
    display: inline-block;
    margin-right: 1em;
}
.icon_add_remove{
    display: inline-block;
}
.list_img{
    
    height: 5em;
    width: 5em;
}
.input_add_type_product{
    width: 25%;
    margin-right:1em;
}
.margin_top{
    margin-top: 0.5em;
}
.btn_add_product{
    margin: auto;
    width: 15em;
    font-weight: 800;
    margin-top: 0.5em;
    border: none;
    background-color: #70fa3a;
    padding: 0.5em 2em;
}
.ckeditor{
    height: 5em;
}