.div_image_big{
    text-align: center;
    
}
.img_big{
    width: 70%;
    width: 70%;
    height: 17rem;
}
.div_image_load{
    display: flex;
    width: 80%;
    text-align: center;
}
.img_load{
    
    height: 4rem;
    margin: 5px;
    &:hover{
        border: solid red 1px;
    }
}
.option_tag{
    font-size: 0.7em;
}
.table_detail{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}
.length1{
    width: 50%;
}
.length2{
    width: 40%;
}
.length3{
    width: 30%;
}
.length4{
    width: 20%;
}
.length5{
    width: 18%;
}
.center_image{
    padding-left: 2em;
}
.div_img{
    display: inline;
}

//---------------------------------------------

.name_product_detail{
    color: white;
    font-size: 2rem;
}
.price_product_detail{
    color: rgb(233, 110, 110);
    font-size: 1.2rem;
}
.margin_bottom_detail{
    margin-top: 2rem;
}
.option_version{
    border: white solid 1px;
    margin-right: 2rem;
    padding: 0.5rem;
    color: white;
    border-radius: 2px;
    
    &:hover{
        color: #fffd91;
        border: #fffd91 solid 1px;
        cursor: pointer;
    }
}

.active_option{
    color: #fffd91;border: #fffd91 solid 1px;
}
.btn_buyadd{
    font-size: 1.5em;
    color: white;
    background-color: #f84040;
    border: none;
    border-radius: 2px;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
}
.btn_buy_product{

    background-color: #f84040;

}
.btn_add_card{
    background-color: #00ca33;

}
//-----------------------------------------------
.bottom_content{
    margin-top: 3rem;
}
.title_description{
    color:white;
}
.description{
    
    color: white;
    
}
.article{
    position: relative;
}
.bg_article{
    background: linear-gradient(to bottom,rgba(255 255 255/0),#0f1114);
    height: 30px;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.tag_btn_more{
    position: relative;
    display: flex;
    justify-content: center;
}
.btn_more{
    color: white;
    border: 1px solid white;
    padding: 0.6em 2em;
    border-radius: 5px;
    outline: none;
    background: none;
}
.bottom_content{
    display: flex;
}
.content_description{
    
    height: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
}
#visibility_description{
    height: 100%;
    overflow: visible !important;
}
#hidden{
    display: none;
}
.title_detail{
    color: white;
    text-align: center;
}
.table_detail{
    width: 100%;
    margin: 2rem 0 0 2rem;
    color: white;
}
.table_detail>tbody>td{
    height: 3rem;

    text-align: left;
    padding: 8px;
}
.table_detail>tbody>tr:nth-child(even) {
    background-color: #3a3838;
  }
.content_detail{
    text-align: center;

}
hr{
    font-size: 15px;
}
@media only screen and (max-width:1024px) {
    .option_version{
        margin: 0.6em;
        padding: 1em;

    }
    .option_tag{
        display: inline-block;
        text-align: center;
    }
    .option_tag{
        padding: 0;
    }
    .navbottom{
        position: fixed;
        z-index: 10000000;
        bottom: 0;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .btn_buyadd{
        opacity: 1 !important;
        z-index: 100000000;
        border-radius: 0;
        width: 50%;
        margin: 0;
        padding-bottom: 1em;
    }
    .table_detail{
        margin: 0;
        padding: 0;
    }
    .bottom_content{
        flex-direction: column-reverse;
    }
    .img_big{
        width: 80%;
        height: 17.5rem;
    }
}